body{
    background-color: rgb(94,92,228);
}

div.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(94,92,228);
    padding : 10px;
}
div.menu{
    background-color:none;
    font-size: 80%;
    color : rgb(255,255,255);
    display:grid;
    grid-template-rows : repeat(3,1fr); 
}
div.titre {
    text-align: center;
    color : rgb(94,92,228);
    background:rgb(255,255,255) ;
    padding : auto ;
    border : 10px solid ; 
    border-color : rgb(255,255,255);
}
div.rechercher{
    font-size: 80%;
    float : center;
}
.boutonrechercher{
    float : right;
    width: 80px;
    height : 80px;
    background-color: rgb(255,255,255);
    color : rgb(94,92,228);
    border-radius: 50%;
    border : none;
    text-align: center;
    cursor : pointer;
}
.boutoncontact{
    width: 80px;
    height : 80px;
    background-color: rgb(255,255,255);
    color : rgb(94,92,228);
    border-radius : 50%;
    border : none;
    text-align: center;
    cursor : pointer;
}
.boutonreservation{
    width: 80px;
    height : 80px;
    background-color: rgb(255,255,255);
    color : rgb(94,92,228);
    border-radius: 50%;
    border : none;
    text-align: center;
    cursor : pointer;
}
.boutonpanier{
    width: 80px;
    height : 80px;
    background-color: rgb(255,255,255);
    color : rgb(94,92,228);
    border-radius: 50%;
    border : none;
    text-align: center;
    cursor : pointer;
}
div.img{
    text-align: center;
}
div.cassetete{
    background-color:none;
}
div.formulaire{
    text-align: left;
    color: rgb(94,92,228);
    font-size: 120%;
    padding-top: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255,255,255);
    background-color: rgb(255,255,255);
    display: none;
}
.boutonreinitialiser{
    width: 40px;
    height : 40px;
    background-color:rgb(255,255,255) ;
    border-radius: 50%;
    border : none;
    text-align: center;
    cursor : pointer;
}
.boutonsoumettre{
    width: 40px;
    height : 40px;
    background-color:rgb(255,255,255) ;
    border-radius: 50%;
    border : none;
    text-align: center;
    cursor : pointer;
}
.boutonrechercher:hover{
    width: 85px;
    height : 85px;
    image-orientation: flip;
}
.boutoncontact:hover{
    width: 85px;
    height : 85px;
}
.boutonpanier:hover{
    width: 85px;
    height : 85px;
}
.boutonreservation:hover{
    width: 85px;
    height : 85px;
}